.site-header {
    background-color: rgb(219, 51, 51); /* Change the background color to your preference */
    color: #fff; /* Change the text color to your preference */
    height: 100px; /* Set the height of the header as needed */
    width: 100%; /* Make it 100% width of the viewport */
    position: fixed; /* Fixed positioning to keep it at the top */
    top: 0; /* Stick it to the top of the viewport */
    left: 0; /* Align it to the left */
    z-index: 1000; /* Adjust the z-index as needed */
    display: flex; /* Use flexbox to center and space the buttons */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    
}

/* Style for the buttons */
.header-button {
    background-color: rgba(255, 213, 27, 1); /* Default background color */
    width: 180px;
    height: 50px;
    color: #292929; /* Text color */
    border: none; /* Remove button borders */
    border-radius: 5px; /* Add rounded edges */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for hover effect */
    margin: 0 30px; /* Add horizontal spacing between buttons */
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1.5px;

}

/* Hover effect for buttons */
.header-button:hover {
    background-color: #ff9b05; /* Change background color on hover */
}

/* Center-align the page title */
h1 {
    text-align: center;
    font-family: 'Staatliches', cursive;
}

body {
    font-family: 'Staatliches', cursive;
    
}


#background-container {
    /* Set the background image */
    background-image: url('./assets/imgs/background.png');

    /* Apply a heavy blur and opacity */
    filter: blur(20px);
    opacity: 0.3;

    /* Ensure the background covers the entire viewport */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Form container styles */
.form-container {
    max-width: 641px;
    margin: 0 auto;
    margin-top: 125px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 213, 27, 0.9);
    font-family: 'Staatliches', cursive;
}

/* Label title styles */
label {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #292929; 
    font-size: 24px;
    font-family: 'Staatliches', cursive;
}


/* Input fields and select boxes styles */
input[type="text"],
select {
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    font-family: 'Arial', cursive;
    color: #000000;
    font-size: 14px;
    
}

/* Styled input styles */
.styled-input {
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: 'Arial', cursive;
    font-size: 14px;
    box-sizing: border-box;
    color: #333;
    text-align: left;
    line-height: 30px;
    font-weight: 600;
    overflow: hidden; /* Hide overflow without scrollbars */
}

.input-container {
    margin-bottom: 20px;
}

.input-with-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Copy button styles */
.copy-button {
    width: 100px;
    height: 48px;
    background-color: rgb(219, 51, 51);
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Staatliches', cursive;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for smooth scaling */
}

.copy-button:hover {
    background-color: rgb(255, 145, 145);
    color: #ffffff;
    outline-width: 3px;
    transform: scale(1.1); /* Enlarge on hover without translation */
}


/* Email preview container styles */
.email-preview {
    margin: 20px auto;
    padding: 15px;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    max-width: 641px;
    box-sizing: border-box;
    position: relative;
}

.email-preview h2 {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: 'Staatliches', cursive;
}

/* Email content styles */
#email-content {
    font-size: 13px;
    line-height: 1.5;
    color: #000000;
    font-family: 'Arial', cursive;
    overflow: hidden;
}

/* Button container styles */
.button-container {
    position: relative;
    bottom: 90%;
    right: 35%;
}

/* Container styles */
#container {
    position: relative; 
}

/* Copy button styles */
#copy-button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background-color: #db3333;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform property */
    font-family: 'impact', cursive;
    text-align: center;
    line-height: 80px;
    z-index: 999;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Staatliches', cursive;
}

#copy-button:hover {
    background-color: rgb(255, 145, 145);
    color: #ffffff;
    outline-width: 3px;
    transform: translate(-50%, -50%) scale(1.1); /* Enlarge on hover */
}

/* Copied message styles */
#copiedMessage {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 18px;
}

/* Email Copied message styles */
#emailCopiedMessage {
    position: fixed;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Staatliches', cursive;
    text-align: center;
    font-size: 18px;
}

/* Subject headline container styles */
.subject-headline-container {
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
}

/* Hidden element style */
.hidden {
    display: none;
}

/* Label style for "stockDate" */
label[for="stockDate"] {
    display: block;
    margin-bottom: 10px;
}

/* Player icon image styles (for mobile) */
#player-icon-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* Email container styles */
#email-container {
    position: relative;
    max-width: 641px;
    margin: 0 auto;
}

/* Player icon styles (for both mobile and screens) */
#player-icon {
    position: fixed;
    bottom: 10px; 
    right: 10px; 
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
}

#player-icon:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
}

/* Tooltip styles */
#tooltip {
    position: fixed;
    bottom: 12%;
    right: 0%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    white-space: nowrap;
    display: none;
    font-size: 20px;
    font-family: 'Staatliches', cursive;
}

/* Show tooltip on hover */
#tooltip::after {
    display: block;
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: none;
}

.popup-content {
    font-family: 'Staatliches', cursive;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 10000; 
}

/* Center the popup and apply a blur filter to the background when the popup is displayed */
.popup.show {
    display: flex;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.91);
    z-index: 1000;
}

/* Password input styles */
.popup-content input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Arial', cursive;
    font-size: 14px;
    color: #333;
}

/* Submit button styles */
.popup-content button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family: 'Staatliches', cursive;
}

/* Submit button hover styles */
.popup-content button[type="submit"]:hover {
    background-color: #000000;
}

#content-container {
    position: relative;
}

/* Download button styles */
#downloadButton {
    display: none;
    position: absolute;
    bottom: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    background-color: #1e21ff;
    color: #fff; /* Button text color */
    padding: 10px 10px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    font-size: 14px;
    font-family: 'Staatliches', cursive;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Added transition for smooth scaling */
}

#downloadButton:hover {
    background-color: #007BFF; /* Button background color on hover */
    transform: scale(1.1); /* Enlarge on hover */
}

#downloadButton:focus {
    outline: none;
}


/* CSS for chat icon */
#chat-icon {
    position: fixed;
    bottom: 10px; 
    left: 10px; 
    width: 60px;
    height: 60px;
    background-color: #f0f0f0;
    border-radius: 50%;
    overflow: hidden;
    z-index: 100;
}

#chat-icon:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
}

#chat-icon-img {
    width: 60px; /* Adjust the size as needed */
    height: 60px; /* Adjust the size as needed */
    transition: opacity 0.2s ease; /* Add a smooth opacity transition */
}

/* Change the icon on hover */
#chat-icon:hover #chat-icon-img {
    content: url("./assets/icons/chat-hover.png"); /* Replace with the path to chat-hover.png */
    opacity: 0.8; /* Adjust the opacity as needed */
}

/* Custom Dropdown Styles */
.custom-dropdown {
    width: 100%;
    height: 48px;
    padding: 10px;
    padding-left: 7px;
    border-radius: 4px;
    background-color: #ffffff;
    font-family: 'Arial', cursive;
    font-size: 14px;
    color: #333;
    border: 1px solid #ccc;
    transition: border-color 0.3s, box-shadow 0.3s;
    position: relative;
    line-height: 20px;

    /* Style the arrow (you can use an icon or other visual cues) */
    appearance: none;
    background-image: url('./assets/icons/arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center; /* Move the arrow 10px to the left by default */
    background-size: 24px 24px;
    cursor: pointer;
}

/* Increase the size of the icon by 1.2 when hovering */
.custom-dropdown:hover {
    border-color: #007BFF;
    transform: scale(1.0035); /* Enlarge the icon by 1.2 */
}

/* Optional: Style the dropdown options */
.custom-dropdown select {
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}








